{% extends 'base.html.twig' %}

{% block body%}
<div class="row">
    <div class="col-sm-5">
        <div class="well">
            <form action="{{ path('admin_check') }}" method="post">
                {{ form_row(login_form.username) }}
                {{ form_row(login_form.password) }}
                {{ form_row(login_form.captcha) }}
                {{ form_row(login_form.submit) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            </form>
        </div>
    </div>
{% endblock %}
